@import "bootstrap-sprockets";
@import "bootstrap";


ul {
  list-style-type: none;
}
#bannerimage{
    background-image: url(https://picsum.photos/500/600);
    background-position: center top;
    background-size: 100% auto;
}
